@font-face {
  font-family: MyFont1;
  src: local(trebuc),
  url(./trebuc.ttf) format("truetype");
}
@font-face {
  font-family: MyFont2;
  src: local(SansPro-Black),
  url(.//SansPro-Black.ttf) format("truetype");
}
